{% extends "./plantilla.html" %}

{% block title %} Matricula de cursos {% endblock %}

{% block body %}
<h1 style="color: black";>i</h1>
<h4 style="color: black";>i</h4>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2 style="color: white";>Matricula</h2>
        <div class="card"> 
            <div class="card-body">
                <form action="/registrarCurso/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" minlength="" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo" minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="numCreditos" name="numCreditos" class="form-control" min="1" max="9" value="1" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1 style="color: white";>Listado de Cursos</h1>
        <div class="table-responsive pg-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="color: white";>Codigo</th>
                        <th style="color: white";>Nombre</th>
                        <th style="color: white";>Creditos</th>
                        <th colspan="2" style="color: white";>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cursos %}
                    <tr>
                        <td style="color: white";>{{forloop.counter}}</td>
                        <td style="color: white";>{{c.codigo}}</td>
                        <td style="color: white";>{{c.nombre}}</td>
                        <td style="color: white";>{{c.creditos}}</td>
                        <td><a href="edicionCurso/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarCurso/{{c.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}